.localisation{
    &__iconCtner {
    margin-left: -17px;
    padding-right: 17px;
    }
    &__icon {
        color: rgba(53, 53, 53, 1);
        width: 12px;
        height: 16px;}
    &__lieux{
        color: #353535;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
}